body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode h2 {
    color: #aaa;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.star-element {
    display: none;
}

body.dark-mode .star-element {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("https://assets.imgix.net/hp/snowshoe.jpg?q=70&w=1600&auto=compress%2Cenhance&fm=jpeg&ixlib=imgixjs-3.4.1");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.login-box {
    padding: 25px 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
}

.date-of-birth {
    display: block;
    text-align: left;
    font-size: 14px;
    margin: 10px 0;
}

.date-of-birth input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1e90ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #1c86ee;
}

.register {
    margin-top: 10px;
    font-size: 14px;
}

.register a {
    color: #1e90ff;
    text-decoration: none;
}



.error {
    border: 1px solid red;
}
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
}
.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.password-container {
    position: relative;
}